[submodule "sandbox.iot"]
	path = sandbox.iot
	url = https://github.com/kjwenger/sandbox.iot.git
[submodule "sandbox.cppcms"]
	path = sandbox.cppcms
	url = https://github.com/kjwenger/sandbox.cppcms.git
[submodule "sandbox.petstore"]
	path = sandbox.petstore
	url = https://github.com/kjwenger/sandbox.petstore.git
[submodule "sandbox.java.modbus"]
	path = sandbox.java.modbus
	url = https://github.com/kjwenger/sandbox.java.modbus.git
